examples/01 - Timer sequence.json
[{"id":"6ebed90b.98a3d","type":"inject","z":"7f3a45c8.91002c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":220,"wires":[["59d6b1b3.a988f"]]},{"id":"494045e1.6180bc","type":"zone-timer","z":"7f3a45c8.91002c","name":"","zonename":"Lawn","zonenametype":"str","duration":"3s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":390,"y":220,"wires":[["5db66f4e.3aff58"]]},{"id":"5db66f4e.3aff58","type":"zone-timer","z":"7f3a45c8.91002c","name":"","zonename":"Trees","zonenametype":"str","duration":"3s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":550,"y":220,"wires":[["e257bf8a.97e9d"]]},{"id":"e257bf8a.97e9d","type":"zone-timer","z":"7f3a45c8.91002c","name":"","zonename":"Shrubs","zonenametype":"str","duration":"3s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":710,"y":220,"wires":[[]]},{"id":"32b58a45.4fe35e","type":"timerctl out","z":"7f3a45c8.91002c","name":"","program":"4900aef7.1f314","noblock":true,"pauseCmd":"pause","resumeCmd":"resume","decrementCmd":"decrement","incrementCmd":"increment","adjustCmd":"adjust","skipCmd":"skip","scaleCmd":"scale","x":300,"y":380,"wires":[]},{"id":"35ef00fb.86ad3","type":"inject","z":"7f3a45c8.91002c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pause","payload":"","payloadType":"str","x":130,"y":300,"wires":[["32b58a45.4fe35e"]],"icon":"font-awesome/fa-pause"},{"id":"f09ede97.815668","type":"inject","z":"7f3a45c8.91002c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"resume","payload":"","payloadType":"str","x":120,"y":340,"wires":[["32b58a45.4fe35e"]],"icon":"font-awesome/fa-play"},{"id":"3af382cd.4eb266","type":"inject","z":"7f3a45c8.91002c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"increment","payload":"1m","payloadType":"str","x":110,"y":380,"wires":[["32b58a45.4fe35e"]],"icon":"font-awesome/fa-plus"},{"id":"86acd8ba.40b26","type":"inject","z":"7f3a45c8.91002c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"decrement","payload":"5s","payloadType":"str","x":110,"y":420,"wires":[["32b58a45.4fe35e"]],"icon":"font-awesome/fa-minus"},{"id":"e7e0eaa5.43ff78","type":"inject","z":"7f3a45c8.91002c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"skip","payload":"","payloadType":"str","x":130,"y":460,"wires":[["32b58a45.4fe35e"]],"icon":"font-awesome/fa-forward"},{"id":"786575c9.c41524","type":"zone in","z":"7f3a45c8.91002c","name":"","zonename":"","program":"4900aef7.1f314","x":460,"y":340,"wires":[["5c2164f3.940e8c"]]},{"id":"5c2164f3.940e8c","type":"debug","z":"7f3a45c8.91002c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":340,"wires":[]},{"id":"59d6b1b3.a988f","type":"run-gate","z":"7f3a45c8.91002c","name":"","program":"4900aef7.1f314","x":250,"y":220,"wires":[["494045e1.6180bc"]]},{"id":"c47a8728.bf1af","type":"inject","z":"7f3a45c8.91002c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"scale","payload":"0.5","payloadType":"num","x":360,"y":440,"wires":[["32b58a45.4fe35e"]],"icon":"font-awesome/fa-compress"},{"id":"b26f974.302fee8","type":"inject","z":"7f3a45c8.91002c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"scale","payload":"1","payloadType":"num","x":370,"y":480,"wires":[["32b58a45.4fe35e"]],"icon":"font-awesome/fa-compress"},{"id":"4900aef7.1f314","type":"program","z":"","name":"Program A"}]
