examples/02 - Advanced flow.json
[{"id":"b21b9ba4.4c94d8","type":"inject","z":"21e8447b.004fb4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["35af08f0.3a6238"]]},{"id":"ee30e284.43cb7","type":"zone-timer","z":"21e8447b.004fb4","name":"","zonename":"Lawn","zonenametype":"str","duration":"3s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":570,"y":100,"wires":[["8c9891b2.8cece"]]},{"id":"8c9891b2.8cece","type":"zone-timer","z":"21e8447b.004fb4","name":"","zonename":"Trees","zonenametype":"str","duration":"3s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":730,"y":100,"wires":[["5f0e509d.a3338"]]},{"id":"5f0e509d.a3338","type":"zone-timer","z":"21e8447b.004fb4","name":"","zonename":"Shrubs","zonenametype":"str","duration":"3s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":890,"y":100,"wires":[["7e9b6bac.39630c"]]},{"id":"bca4b6f1.79015","type":"inject","z":"21e8447b.004fb4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["c0b34df9.afe9a"]]},{"id":"d4bbd76.1745128","type":"zone-timer","z":"21e8447b.004fb4","name":"Drips A","zonename":"Drips A","zonenametype":"str","duration":"3s","durationtype":"str","program":"4fc4d161.0ec4c8","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":560,"y":160,"wires":[["d7db68f5.57fd5"]]},{"id":"d7db68f5.57fd5","type":"zone-timer","z":"21e8447b.004fb4","name":"Drips B","zonename":"Drips B","zonenametype":"str","duration":"3s","durationtype":"str","program":"4fc4d161.0ec4c8","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":700,"y":160,"wires":[["84169021.dc4648"]]},{"id":"84169021.dc4648","type":"zone-timer","z":"21e8447b.004fb4","name":"Drips C","zonename":"Drips C","zonenametype":"str","duration":"3s","durationtype":"str","program":"4fc4d161.0ec4c8","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":840,"y":160,"wires":[["34278aef.4f88ae"]]},{"id":"35af08f0.3a6238","type":"run-gate","z":"21e8447b.004fb4","name":"","program":"4900aef7.1f314","x":250,"y":100,"wires":[["b939e2be.7aaff"]]},{"id":"c0b34df9.afe9a","type":"run-gate","z":"21e8447b.004fb4","name":"","program":"4fc4d161.0ec4c8","x":250,"y":160,"wires":[["b939e2be.7aaff"]]},{"id":"14607d18.98ac53","type":"inject","z":"21e8447b.004fb4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":220,"wires":[[]]},{"id":"9190fca5.516f7","type":"zone-timer","z":"21e8447b.004fb4","name":"","zonename":"Tomatoes","zonenametype":"str","duration":"3s","durationtype":"str","program":"7765d4cd.590a24","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":580,"y":220,"wires":[["6c53e11a.12934"]]},{"id":"c628bef.a869dc","type":"zone-timer","z":"21e8447b.004fb4","name":"","zonename":"Squash","zonenametype":"str","duration":"3s","durationtype":"str","program":"7765d4cd.590a24","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":400,"y":220,"wires":[["9190fca5.516f7"]]},{"id":"d07b61b6.6a3ab","type":"run-gate","z":"21e8447b.004fb4","name":"","program":"4fc4d161.0ec4c8","x":250,"y":220,"wires":[["c628bef.a869dc"]]},{"id":"6c53e11a.12934","type":"zone-timer","z":"21e8447b.004fb4","name":"","zonename":"Mint","zonenametype":"str","duration":"3s","durationtype":"str","program":"7765d4cd.590a24","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":750,"y":220,"wires":[[]]},{"id":"b939e2be.7aaff","type":"simple-queue","z":"21e8447b.004fb4","name":"","firstMessageBypass":true,"bypassInterval":"0","x":399,"y":129,"wires":[["ee30e284.43cb7","d4bbd76.1745128"]]},{"id":"f00cd7d4.322c1","type":"change","z":"21e8447b.004fb4","name":" next item","rules":[{"t":"set","p":"trigger","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":40,"wires":[["b939e2be.7aaff"]]},{"id":"11f9cc0d.53361c","type":"link in","z":"21e8447b.004fb4","name":"","links":["7e9b6bac.39630c","34278aef.4f88ae"],"x":295,"y":40,"wires":[["f00cd7d4.322c1"]]},{"id":"7e9b6bac.39630c","type":"link out","z":"21e8447b.004fb4","name":"","links":["11f9cc0d.53361c"],"x":995,"y":100,"wires":[]},{"id":"34278aef.4f88ae","type":"link out","z":"21e8447b.004fb4","name":"","links":["11f9cc0d.53361c"],"x":935,"y":160,"wires":[]},{"id":"4900aef7.1f314","type":"program","z":"","name":"Program A"},{"id":"4fc4d161.0ec4c8","type":"program","z":"","name":"Program B"},{"id":"7765d4cd.590a24","type":"program","z":"","name":"Program C"}]
