examples/03 - Advanced flow with more run gate.json
[{"id":"f5be165c.0bcb88","type":"inject","z":"51df040a.4dba64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":120,"wires":[["9a8eb21a.7623a8"]]},{"id":"aabbff38.e61ae","type":"zone-timer","z":"51df040a.4dba64","name":"","zonename":"Lawn","zonenametype":"str","duration":"3s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":550,"y":120,"wires":[["a37208d3.3ea318"]]},{"id":"a37208d3.3ea318","type":"zone-timer","z":"51df040a.4dba64","name":"","zonename":"Trees","zonenametype":"str","duration":"3s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":710,"y":120,"wires":[["94fbb829.64228"]]},{"id":"94fbb829.64228","type":"zone-timer","z":"51df040a.4dba64","name":"","zonename":"Shrubs","zonenametype":"str","duration":"3s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":870,"y":120,"wires":[["951189e2.533648"]]},{"id":"9a07c9b2.c95de8","type":"inject","z":"51df040a.4dba64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":180,"wires":[["ffcf2dbd.eb7538"]]},{"id":"102ee6fd.3cc7b1","type":"zone-timer","z":"51df040a.4dba64","name":"Drips A","zonename":"Drips A","zonenametype":"str","duration":"3s","durationtype":"str","program":"4fc4d161.0ec4c8","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":860,"y":180,"wires":[["9eefd66b.0ae3c8"]]},{"id":"9eefd66b.0ae3c8","type":"zone-timer","z":"51df040a.4dba64","name":"Drips B","zonename":"Drips B","zonenametype":"str","duration":"3s","durationtype":"str","program":"4fc4d161.0ec4c8","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":1000,"y":180,"wires":[["156e5726.28cb21"]]},{"id":"156e5726.28cb21","type":"zone-timer","z":"51df040a.4dba64","name":"Drips C","zonename":"Drips C","zonenametype":"str","duration":"3s","durationtype":"str","program":"4fc4d161.0ec4c8","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":1140,"y":180,"wires":[["133ad832.0ca8"]]},{"id":"9a8eb21a.7623a8","type":"run-gate","z":"51df040a.4dba64","name":"","program":"4900aef7.1f314","x":230,"y":120,"wires":[["1dc9bf20.24d989"]]},{"id":"ffcf2dbd.eb7538","type":"run-gate","z":"51df040a.4dba64","name":"","program":"4fc4d161.0ec4c8","x":230,"y":180,"wires":[["1dc9bf20.24d989"]]},{"id":"577788db.c7d07","type":"inject","z":"51df040a.4dba64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":260,"wires":[["4608eeb4.285f"]]},{"id":"b94bbe57.04e5","type":"zone-timer","z":"51df040a.4dba64","name":"","zonename":"Tomatoes","zonenametype":"str","duration":"3s","durationtype":"str","program":"7765d4cd.590a24","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":560,"y":260,"wires":[["3cea6cd9.9f0f84"]]},{"id":"d302bf8e.04696","type":"zone-timer","z":"51df040a.4dba64","name":"","zonename":"Squash","zonenametype":"str","duration":"3s","durationtype":"str","program":"7765d4cd.590a24","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":380,"y":260,"wires":[["b94bbe57.04e5"]]},{"id":"4608eeb4.285f","type":"run-gate","z":"51df040a.4dba64","name":"","program":"4fc4d161.0ec4c8","x":230,"y":260,"wires":[["d302bf8e.04696"]]},{"id":"3cea6cd9.9f0f84","type":"zone-timer","z":"51df040a.4dba64","name":"","zonename":"Mint","zonenametype":"str","duration":"3s","durationtype":"str","program":"7765d4cd.590a24","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":730,"y":260,"wires":[[]]},{"id":"1dc9bf20.24d989","type":"simple-queue","z":"51df040a.4dba64","name":"","firstMessageBypass":true,"bypassInterval":"0","x":379,"y":149,"wires":[["aabbff38.e61ae","bbcd9f07.641f1"]]},{"id":"2ea6053e.8265c2","type":"change","z":"51df040a.4dba64","name":" next item","rules":[{"t":"set","p":"trigger","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":60,"wires":[["1dc9bf20.24d989"]]},{"id":"a343a9bb.78e6b8","type":"link in","z":"51df040a.4dba64","name":"","links":["951189e2.533648","133ad832.0ca8"],"x":275,"y":60,"wires":[["2ea6053e.8265c2"]]},{"id":"951189e2.533648","type":"link out","z":"51df040a.4dba64","name":"","links":["a343a9bb.78e6b8"],"x":975,"y":120,"wires":[]},{"id":"133ad832.0ca8","type":"link out","z":"51df040a.4dba64","name":"","links":["a343a9bb.78e6b8"],"x":1235,"y":180,"wires":[]},{"id":"418261cc.4bfda","type":"delay","z":"51df040a.4dba64","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":180,"wires":[["102ee6fd.3cc7b1"]]},{"id":"bbcd9f07.641f1","type":"run-gate","z":"51df040a.4dba64","name":"","program":"4fc4d161.0ec4c8","x":530,"y":180,"wires":[["418261cc.4bfda"]]},{"id":"ea4a17b.e146468","type":"comment","z":"51df040a.4dba64","name":"You probably wouldn't be using a delay node here","info":"","x":740,"y":220,"wires":[]},{"id":"c8bcfcc3.1e22b8","type":"comment","z":"51df040a.4dba64","name":"More likely an http request, mqtt node, etc","info":"","x":1007,"y":250,"wires":[]},{"id":"4900aef7.1f314","type":"program","z":"","name":"Program A"},{"id":"4fc4d161.0ec4c8","type":"program","z":"","name":"Program B"},{"id":"7765d4cd.590a24","type":"program","z":"","name":"Program C"}]
