examples/04 - Dashboard.json
[{"id":"55dfc474.3328bc","type":"inject","z":"723393f2.57efbc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["e8702be1.50b488"]]},{"id":"79246e.3133bb94","type":"zone-timer","z":"723393f2.57efbc","name":"","zonename":"Lawn","zonenametype":"str","duration":"3s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":390,"y":120,"wires":[["70472560.36c904"]]},{"id":"70472560.36c904","type":"zone-timer","z":"723393f2.57efbc","name":"","zonename":"Trees","zonenametype":"str","duration":"3s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":550,"y":120,"wires":[["968de776.edf03"]]},{"id":"968de776.edf03","type":"zone-timer","z":"723393f2.57efbc","name":"","zonename":"Shrubs","zonenametype":"str","duration":"3s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":710,"y":120,"wires":[[]]},{"id":"776c344b.3dbfc4","type":"zone in","z":"723393f2.57efbc","name":"","zonename":"","program":"4900aef7.1f314","x":80,"y":420,"wires":[["3e690904.311a86"]]},{"id":"efb7e440.33c058","type":"inject","z":"723393f2.57efbc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":180,"wires":[["727e5a41.a24564"]]},{"id":"b4e7b335.35ff9","type":"zone-timer","z":"723393f2.57efbc","name":"Drips A","zonename":"Drips A","zonenametype":"str","duration":"3s","durationtype":"str","program":"4fc4d161.0ec4c8","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":380,"y":180,"wires":[["e7d9dc54.0d7bc8"]]},{"id":"e7d9dc54.0d7bc8","type":"zone-timer","z":"723393f2.57efbc","name":"Drips B","zonename":"Drips B","zonenametype":"str","duration":"3s","durationtype":"str","program":"4fc4d161.0ec4c8","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":520,"y":180,"wires":[["e96a94ce.39bde8"]]},{"id":"e96a94ce.39bde8","type":"zone-timer","z":"723393f2.57efbc","name":"Drips C","zonename":"Drips C","zonenametype":"str","duration":"3s","durationtype":"str","program":"4fc4d161.0ec4c8","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":660,"y":180,"wires":[[]]},{"id":"fdc71285.918ee8","type":"comment","z":"723393f2.57efbc","name":"Program A UI","info":"","x":170,"y":380,"wires":[]},{"id":"6d47c07c.480208","type":"ui_text","z":"723393f2.57efbc","group":"ec0b4728.92d838","order":0,"width":0,"height":0,"name":"","label":"Current zone","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":420,"wires":[]},{"id":"3e690904.311a86","type":"change","z":"723393f2.57efbc","name":"Format","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload ? msg.topic : \"--\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":420,"wires":[["6d47c07c.480208"]],"info":"Set payload to -- if zones are turned off, otherwise use the zone name (message topic)."},{"id":"13d814c.e81ae6b","type":"ui_text","z":"723393f2.57efbc","group":"ec0b4728.92d838","order":1,"width":0,"height":0,"name":"","label":"State","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":460,"wires":[]},{"id":"4f26b48b.cf73fc","type":"timerctl in","z":"723393f2.57efbc","name":"","program":"4900aef7.1f314","stateCmd":"state","tickCmd":"tick","x":90,"y":460,"wires":[["13d814c.e81ae6b"],["130c93df.2b5bdc"]]},{"id":"130c93df.2b5bdc","type":"ui_text","z":"723393f2.57efbc","group":"ec0b4728.92d838","order":1,"width":0,"height":0,"name":"","label":"Time left","format":"{{msg.payload}}s","layout":"row-spread","x":360,"y":500,"wires":[]},{"id":"468f2f42.ea3b7","type":"zone in","z":"723393f2.57efbc","name":"","zonename":"","program":"4fc4d161.0ec4c8","x":580,"y":420,"wires":[["53714246.9c87ac"]]},{"id":"4d27d19e.d797f","type":"comment","z":"723393f2.57efbc","name":"Program B UI","info":"","x":670,"y":380,"wires":[]},{"id":"a3ff1174.5ab14","type":"ui_text","z":"723393f2.57efbc","group":"623ce02f.b7ad78","order":0,"width":0,"height":0,"name":"","label":"Current zone","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":420,"wires":[]},{"id":"3797507e.56d9c8","type":"ui_text","z":"723393f2.57efbc","group":"623ce02f.b7ad78","order":1,"width":0,"height":0,"name":"","label":"State","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":460,"wires":[]},{"id":"a697e4fc.253b18","type":"timerctl in","z":"723393f2.57efbc","name":"","program":"4fc4d161.0ec4c8","stateCmd":"state","tickCmd":"tick","x":590,"y":460,"wires":[["3797507e.56d9c8"],["2f2b8751.46a258"]]},{"id":"2f2b8751.46a258","type":"ui_text","z":"723393f2.57efbc","group":"623ce02f.b7ad78","order":1,"width":0,"height":0,"name":"","label":"Time left","format":"{{msg.payload}}s","layout":"row-spread","x":860,"y":500,"wires":[]},{"id":"2f8da711.bf0448","type":"ui_button","z":"723393f2.57efbc","name":"","group":"ec0b4728.92d838","order":3,"width":"2","height":"1","passthru":false,"label":"Pause","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"pause","x":90,"y":500,"wires":[["4b2661db.50fa9"]]},{"id":"956887a1.e623","type":"ui_button","z":"723393f2.57efbc","name":"","group":"ec0b4728.92d838","order":3,"width":"2","height":"1","passthru":false,"label":"Resume","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"resume","x":80,"y":540,"wires":[["4b2661db.50fa9"]]},{"id":"4b2661db.50fa9","type":"timerctl out","z":"723393f2.57efbc","name":"","program":"4900aef7.1f314","noblock":true,"pauseCmd":"pause","resumeCmd":"resume","decrementCmd":"decrement","incrementCmd":"increment","adjustCmd":"adjust","skipCmd":"skip","x":360,"y":540,"wires":[]},{"id":"b75ae6a3.0ba5a","type":"ui_button","z":"723393f2.57efbc","name":"","group":"623ce02f.b7ad78","order":3,"width":"2","height":"1","passthru":false,"label":"Pause","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"pause","x":590,"y":500,"wires":[["3d192273.21471e"]]},{"id":"c0ccf740.019988","type":"ui_button","z":"723393f2.57efbc","name":"","group":"623ce02f.b7ad78","order":3,"width":"2","height":"1","passthru":false,"label":"Resume","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"resume","x":580,"y":540,"wires":[["3d192273.21471e"]]},{"id":"3d192273.21471e","type":"timerctl out","z":"723393f2.57efbc","name":"","program":"4fc4d161.0ec4c8","noblock":true,"pauseCmd":"pause","resumeCmd":"resume","decrementCmd":"decrement","incrementCmd":"increment","adjustCmd":"adjust","skipCmd":"skip","x":860,"y":540,"wires":[]},{"id":"6986fcd8.a6b99c","type":"comment","z":"723393f2.57efbc","name":"Global control UI","info":"","x":180,"y":260,"wires":[]},{"id":"39ea67ec.f143d","type":"ui_button","z":"723393f2.57efbc","name":"","group":"41384e83.cac0d","order":5,"width":0,"height":0,"passthru":false,"label":"PAUSE ALL","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"pause","x":170,"y":300,"wires":[["43b5235b.b0263c","71b4e978.1eee28"]]},{"id":"43b5235b.b0263c","type":"timerctl out","z":"723393f2.57efbc","name":"","program":"4900aef7.1f314","noblock":true,"pauseCmd":"pause","resumeCmd":"resume","decrementCmd":"decrement","incrementCmd":"increment","adjustCmd":"adjust","skipCmd":"skip","x":360,"y":280,"wires":[]},{"id":"71b4e978.1eee28","type":"timerctl out","z":"723393f2.57efbc","name":"","program":"4fc4d161.0ec4c8","noblock":true,"pauseCmd":"pause","resumeCmd":"resume","decrementCmd":"decrement","incrementCmd":"increment","adjustCmd":"adjust","skipCmd":"skip","x":360,"y":320,"wires":[]},{"id":"e8702be1.50b488","type":"run-gate","z":"723393f2.57efbc","name":"","program":"4900aef7.1f314","x":250,"y":120,"wires":[["79246e.3133bb94"]]},{"id":"727e5a41.a24564","type":"run-gate","z":"723393f2.57efbc","name":"","program":"4fc4d161.0ec4c8","x":250,"y":180,"wires":[["b4e7b335.35ff9"]]},{"id":"53714246.9c87ac","type":"change","z":"723393f2.57efbc","name":"Format","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload ? msg.topic : \"--\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":420,"wires":[["a3ff1174.5ab14"]],"info":"Set payload to -- if zones are turned off, otherwise use the zone name (message topic)."},{"id":"4900aef7.1f314","type":"program","z":"","name":"Program A"},{"id":"4fc4d161.0ec4c8","type":"program","z":"","name":"Program B"},{"id":"ec0b4728.92d838","type":"ui_group","z":"","name":"Program A","tab":"ad7c799.75a8708","order":1,"disp":true,"width":"6","collapse":false},{"id":"623ce02f.b7ad78","type":"ui_group","z":"","name":"Program B","tab":"ad7c799.75a8708","order":2,"disp":true,"width":"6","collapse":false},{"id":"41384e83.cac0d","type":"ui_group","z":"","name":"All Programs","tab":"ad7c799.75a8708","order":3,"disp":true,"width":"6","collapse":false},{"id":"ad7c799.75a8708","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
