examples/05 - Advanced dashboard.json
[{"id":"331ddbea.9f98dc","type":"subflow","name":"Dashboard Timer","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"62bae8fe.bcc538"}]}],"out":[{"x":800,"y":320,"wires":[{"id":"e500c213.0f4be8","port":0},{"id":"61ba0740.6d10a8","port":0},{"id":"66b3de3c.4a9d1","port":0},{"id":"5edfc993.f523a8","port":0},{"id":"a32548b7.fb2608","port":0},{"id":"f9ccbe5b.5961e8","port":0}]}],"env":[{"name":"program","type":"str","value":"Program","ui":{"label":{"en-US":"Program name"}}}],"color":"#DDAA99"},{"id":"ae854a65.696038","type":"ui_text","z":"331ddbea.9f98dc","group":"5dbbfd5c.117b74","order":4,"width":0,"height":0,"name":"","label":"Current zone","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":140,"wires":[]},{"id":"914e334d.33725","type":"ui_text","z":"331ddbea.9f98dc","group":"5dbbfd5c.117b74","order":2,"width":0,"height":0,"name":"","label":"State","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":40,"wires":[]},{"id":"b8434d07.74f9a8","type":"ui_text","z":"331ddbea.9f98dc","group":"5dbbfd5c.117b74","order":3,"width":0,"height":0,"name":"","label":"Time left","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":80,"wires":[]},{"id":"e500c213.0f4be8","type":"ui_button","z":"331ddbea.9f98dc","name":"","group":"5dbbfd5c.117b74","order":6,"width":"2","height":"1","passthru":false,"label":"Pause","tooltip":"","color":"","bgcolor":"","icon":"pause","payload":"","payloadType":"str","topic":"pause","x":530,"y":240,"wires":[[]]},{"id":"61ba0740.6d10a8","type":"ui_button","z":"331ddbea.9f98dc","name":"","group":"5dbbfd5c.117b74","order":7,"width":"2","height":"1","passthru":false,"label":"Resume","tooltip":"","color":"","bgcolor":"","icon":"play_arrow","payload":"","payloadType":"str","topic":"resume","x":520,"y":280,"wires":[[]]},{"id":"7389ee1a.c48818","type":"change","z":"331ddbea.9f98dc","name":"Format","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload ? msg.topic : \"--\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":140,"wires":[["ae854a65.696038"]],"info":"Set payload to -- if zones are turned off, otherwise use the zone name (message topic)."},{"id":"62bae8fe.bcc538","type":"switch","z":"331ddbea.9f98dc","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"state","vt":"str"},{"t":"eq","v":"tick","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":170,"y":40,"wires":[["d7be2d6d.1c1fe8"],["e2e33da9.bd92b"],["fd19c43e.c974f"]]},{"id":"824c6a74.af50f8","type":"ui_template","z":"331ddbea.9f98dc","group":"5dbbfd5c.117b74","name":"Change Group Name","order":5,"width":0,"height":0,"format":"<script>\n// https://discourse.nodered.org/t/how-to-change-dashboard-group-names-via-msg-payload/6050/4\n(function($scope) {\n$scope.oldGroupName = 'Program' // initial group placeholder name\n\n$scope.$watch('msg', function() {\n    if ($scope.msg){\n        $(\"p.nr-dashboard-cardtitle\").each(function(){\n            if($(this).text().trim() == $scope.oldGroupName.trim()){\n                p = $(this);\n                p.text($scope.msg.payload);\n                 $scope.oldGroupName = $scope.msg.payload\n            }\n        })\n    }\n });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":400,"y":460,"wires":[[]]},{"id":"5cb8df29.2ffd18","type":"inject","z":"331ddbea.9f98dc","name":"Program name","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"program","payloadType":"env","x":180,"y":460,"wires":[["824c6a74.af50f8"]]},{"id":"66b3de3c.4a9d1","type":"ui_button","z":"331ddbea.9f98dc","name":"","group":"5dbbfd5c.117b74","order":8,"width":"2","height":"1","passthru":false,"label":"Skip","tooltip":"","color":"","bgcolor":"","icon":"skip_next","payload":"","payloadType":"str","topic":"skip","x":530,"y":320,"wires":[[]]},{"id":"5edfc993.f523a8","type":"ui_button","z":"331ddbea.9f98dc","name":"","group":"5dbbfd5c.117b74","order":9,"width":"3","height":"1","passthru":false,"label":"Decrement 1m","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1m","payloadType":"str","topic":"decrement","x":500,"y":360,"wires":[[]]},{"id":"a32548b7.fb2608","type":"ui_button","z":"331ddbea.9f98dc","name":"","group":"5dbbfd5c.117b74","order":10,"width":"3","height":"1","passthru":false,"label":"Increment 1m","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1m","payloadType":"str","topic":"increment","x":500,"y":400,"wires":[[]]},{"id":"d7be2d6d.1c1fe8","type":"change","z":"331ddbea.9f98dc","name":"","rules":[{"t":"set","p":"state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":20,"wires":[["914e334d.33725"]]},{"id":"fd19c43e.c974f","type":"switch","z":"331ddbea.9f98dc","name":"flow.state != paused","property":"state","propertyType":"flow","rules":[{"t":"neq","v":"paused","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":160,"y":140,"wires":[["7389ee1a.c48818"]]},{"id":"b6a5fba0.87675","type":"comment","z":"331ddbea.9f98dc","name":"So dashboard shows current zone even when paused","info":"","x":200,"y":180,"wires":[]},{"id":"f9ccbe5b.5961e8","type":"ui_button","z":"331ddbea.9f98dc","name":"","group":"5dbbfd5c.117b74","order":1,"width":0,"height":0,"passthru":false,"label":"RUN","tooltip":"","color":"","bgcolor":"#1bbfff","icon":"","payload":"","payloadType":"str","topic":"run","x":530,"y":200,"wires":[[]]},{"id":"e2e33da9.bd92b","type":"function","z":"331ddbea.9f98dc","name":"100 -> 1m 4s format","func":"var t = msg.payload;\nmsg.payload = \"\";\n\nif (t > 3600) msg.payload += Math.floor(t/3600) + \"h \";\nif (t > 60) msg.payload += Math.floor(t%3600/60) + \"m \";\nmsg.payload += (t%60) + \"s\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":80,"wires":[["b8434d07.74f9a8"]]},{"id":"5dbbfd5c.117b74","type":"ui_group","z":"331ddbea.9f98dc","name":"Program","tab":"ad7c799.75a8708","order":5,"disp":true,"width":"6","collapse":false},{"id":"ad7c799.75a8708","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"cb56893a.127ce8","type":"inject","z":"e6d5017e.520588","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["fa82111a.9d33"]]},{"id":"bb4ab.25127356","type":"zone-timer","z":"e6d5017e.520588","name":"","zonename":"Lawn","zonenametype":"str","duration":"3s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":430,"y":160,"wires":[["9441b7c5.f51bc"]]},{"id":"9441b7c5.f51bc","type":"zone-timer","z":"e6d5017e.520588","name":"","zonename":"Trees","zonenametype":"str","duration":"3s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":590,"y":160,"wires":[["ea6c3df1.c952a"]]},{"id":"ea6c3df1.c952a","type":"zone-timer","z":"e6d5017e.520588","name":"","zonename":"Shrubs","zonenametype":"str","duration":"3s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":750,"y":160,"wires":[[]]},{"id":"67e959a1.ff112","type":"inject","z":"e6d5017e.520588","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":220,"wires":[["5b70cc79.855fa4"]]},{"id":"352f2a2b.fda18e","type":"zone-timer","z":"e6d5017e.520588","name":"Drips A","zonename":"Drips A","zonenametype":"str","duration":"3s","durationtype":"str","program":"4fc4d161.0ec4c8","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":420,"y":220,"wires":[["9b3a2be6.21f258"]]},{"id":"9b3a2be6.21f258","type":"zone-timer","z":"e6d5017e.520588","name":"Drips B","zonename":"Drips B","zonenametype":"str","duration":"3s","durationtype":"str","program":"4fc4d161.0ec4c8","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":560,"y":220,"wires":[["9a421ec9.5fccc8"]]},{"id":"9a421ec9.5fccc8","type":"zone-timer","z":"e6d5017e.520588","name":"Drips C","zonename":"Drips C","zonenametype":"str","duration":"3s","durationtype":"str","program":"4fc4d161.0ec4c8","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":700,"y":220,"wires":[[]]},{"id":"d599be04.a8d5a8","type":"comment","z":"e6d5017e.520588","name":"Global control UI","info":"","x":220,"y":300,"wires":[]},{"id":"c0dd8863.4810c8","type":"ui_button","z":"e6d5017e.520588","name":"","group":"41384e83.cac0d","order":5,"width":0,"height":0,"passthru":false,"label":"PAUSE ALL","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"pause","x":210,"y":340,"wires":[["4e956838.dcdf38"]]},{"id":"fa82111a.9d33","type":"run-gate","z":"e6d5017e.520588","name":"","program":"4900aef7.1f314","x":290,"y":160,"wires":[["bb4ab.25127356"]]},{"id":"5b70cc79.855fa4","type":"run-gate","z":"e6d5017e.520588","name":"","program":"4fc4d161.0ec4c8","x":290,"y":220,"wires":[["352f2a2b.fda18e"]]},{"id":"84d7503f.4d2548","type":"subflow:331ddbea.9f98dc","z":"e6d5017e.520588","name":"","env":[{"name":"program","value":"Program A","type":"str"},{"name":"Program name","value":"Program something","type":"str"}],"x":340,"y":520,"wires":[["72846741.1fae88","2e27c2f9.183256"]]},{"id":"1d145e7b.928782","type":"timerctl in","z":"e6d5017e.520588","name":"","program":"4900aef7.1f314","stateCmd":"state","tickCmd":"tick","x":170,"y":540,"wires":[["84d7503f.4d2548"],["84d7503f.4d2548"]]},{"id":"72846741.1fae88","type":"timerctl out","z":"e6d5017e.520588","name":"","program":"4900aef7.1f314","block":true,"pauseCmd":"pause","resumeCmd":"resume","decrementCmd":"decrement","incrementCmd":"increment","adjustCmd":"adjust","skipCmd":"skip","scaleCmd":"scale","x":540,"y":520,"wires":[]},{"id":"10ba70b2.00229f","type":"zone in","z":"e6d5017e.520588","name":"","zonename":"","program":"4900aef7.1f314","x":160,"y":500,"wires":[["84d7503f.4d2548"]]},{"id":"a776f206.4daba","type":"subflow:331ddbea.9f98dc","z":"e6d5017e.520588","name":"","env":[{"name":"program","value":"Program B","type":"str"}],"x":340,"y":620,"wires":[["69479c81.31c33c","1688e6ed.e85789"]]},{"id":"112ac8ed.c3c907","type":"timerctl in","z":"e6d5017e.520588","name":"","program":"4fc4d161.0ec4c8","stateCmd":"state","tickCmd":"tick","x":170,"y":640,"wires":[["a776f206.4daba"],["a776f206.4daba"]]},{"id":"69479c81.31c33c","type":"timerctl out","z":"e6d5017e.520588","name":"","program":"4fc4d161.0ec4c8","block":true,"pauseCmd":"pause","resumeCmd":"resume","decrementCmd":"decrement","incrementCmd":"increment","adjustCmd":"adjust","skipCmd":"skip","scaleCmd":"scale","x":540,"y":620,"wires":[]},{"id":"c45bbbc6.4f503","type":"zone in","z":"e6d5017e.520588","name":"","zonename":"","program":"4fc4d161.0ec4c8","x":160,"y":600,"wires":[["a776f206.4daba"]]},{"id":"b23f00d3.9542a8","type":"link in","z":"e6d5017e.520588","name":"","links":["4e956838.dcdf38"],"x":395,"y":480,"wires":[["72846741.1fae88"]]},{"id":"4e956838.dcdf38","type":"link out","z":"e6d5017e.520588","name":"","links":["b23f00d3.9542a8","303d2d16.ece632"],"x":355,"y":360,"wires":[]},{"id":"303d2d16.ece632","type":"link in","z":"e6d5017e.520588","name":"","links":["4e956838.dcdf38"],"x":395,"y":580,"wires":[["69479c81.31c33c"]]},{"id":"e343d4f7.675b","type":"ui_button","z":"e6d5017e.520588","name":"","group":"41384e83.cac0d","order":5,"width":0,"height":0,"passthru":false,"label":"RESUME ALL","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"resume","x":200,"y":380,"wires":[["4e956838.dcdf38"]]},{"id":"ba6ec293.cfade8","type":"link out","z":"e6d5017e.520588","name":"","links":["c9ec606c.a68de"],"x":655,"y":480,"wires":[]},{"id":"2e27c2f9.183256","type":"switch","z":"e6d5017e.520588","name":"topic == run?","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"run","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":480,"wires":[["ba6ec293.cfade8"]]},{"id":"12ec5895.0cecff","type":"link out","z":"e6d5017e.520588","name":"","links":["4ab5347c.552154"],"x":655,"y":580,"wires":[]},{"id":"1688e6ed.e85789","type":"switch","z":"e6d5017e.520588","name":"topic == run?","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"run","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":580,"wires":[["12ec5895.0cecff"]]},{"id":"c9ec606c.a68de","type":"link in","z":"e6d5017e.520588","name":"","links":["ba6ec293.cfade8"],"x":195,"y":140,"wires":[["fa82111a.9d33"]]},{"id":"4ab5347c.552154","type":"link in","z":"e6d5017e.520588","name":"","links":["12ec5895.0cecff"],"x":195,"y":200,"wires":[["5b70cc79.855fa4"]]},{"id":"13a96129.a890b7","type":"zone in","z":"e6d5017e.520588","name":"","zonename":"","program":"4900aef7.1f314","x":500,"y":320,"wires":[["5dd2d888.e6527"]]},{"id":"42c769be.704f98","type":"zone in","z":"e6d5017e.520588","name":"","zonename":"","program":"4fc4d161.0ec4c8","x":500,"y":360,"wires":[["5dd2d888.e6527"]]},{"id":"5dd2d888.e6527","type":"change","z":"e6d5017e.520588","name":"prepare","rules":[{"t":"set","p":"label","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload ? 1 : 0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":340,"wires":[["80714c47.bcdfd"]]},{"id":"80714c47.bcdfd","type":"ui_chart","z":"e6d5017e.520588","name":"","group":"41384e83.cac0d","order":5,"width":"3","height":"7","label":"","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":340,"wires":[[]]},{"id":"1729b1a1.c101de","type":"inject","z":"e6d5017e.520588","name":"Clear chart","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":690,"y":380,"wires":[["80714c47.bcdfd"]]},{"id":"4900aef7.1f314","type":"program","z":"","name":"Program A"},{"id":"4fc4d161.0ec4c8","type":"program","z":"","name":"Program B"},{"id":"41384e83.cac0d","type":"ui_group","z":"","name":"All Programs","tab":"ad7c799.75a8708","order":4,"disp":true,"width":"6","collapse":false}]
