examples/06 - Zimmerman rain adjustment.json
[{"id":"45a354d8.87b7c4","type":"inject","z":"7bf540f2.7bc558","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["cb28e408.815128"]]},{"id":"e6b50729.ff9a18","type":"zone-timer","z":"7bf540f2.7bc558","name":"","zonename":"Lawn","zonenametype":"str","duration":"12s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":390,"y":100,"wires":[["5832ba88.306264"]]},{"id":"5832ba88.306264","type":"zone-timer","z":"7bf540f2.7bc558","name":"","zonename":"Trees","zonenametype":"str","duration":"12s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":550,"y":100,"wires":[["e116779.787f408"]]},{"id":"e116779.787f408","type":"zone-timer","z":"7bf540f2.7bc558","name":"","zonename":"Shrubs","zonenametype":"str","duration":"12s","durationtype":"str","program":"4900aef7.1f314","onval":"true","onvaltype":"bool","offval":"false","offvaltype":"bool","x":720,"y":100,"wires":[[]]},{"id":"9e30f334.8c216","type":"zone in","z":"7bf540f2.7bc558","name":"","zonename":"","program":"4900aef7.1f314","x":460,"y":220,"wires":[["c3c1af.28aa4e5"]]},{"id":"c3c1af.28aa4e5","type":"debug","z":"7bf540f2.7bc558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":220,"wires":[]},{"id":"cb28e408.815128","type":"run-gate","z":"7bf540f2.7bc558","name":"","program":"4900aef7.1f314","x":250,"y":100,"wires":[["e6b50729.ff9a18"]]},{"id":"5133eab7.86a6ac","type":"inject","z":"7bf540f2.7bc558","name":"Config - NYC","props":[{"p":"latitude","v":"40.6976684","vt":"str"},{"p":"longitude","v":"-74.2605566","vt":"str"},{"p":"apikey","v":"yourapikey","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":320,"wires":[["4364adc6.882a2c","f73d504b.704e88"]]},{"id":"6e54c6d9.0c8178","type":"comment","z":"7bf540f2.7bc558","name":"Add your api key here!","info":"","x":120,"y":280,"wires":[]},{"id":"4364adc6.882a2c","type":"function","z":"7bf540f2.7bc558","name":"today's weather","func":"msg.topic = \"today\";\nmsg.url = \"https://api.openweathermap.org/data/2.5/onecall\" +\n    \"?lat=\" + msg.latitude +\n    \"&lon=\" + msg.longitude +\n    \"&appid=\" + msg.apikey +\n    \"&units=imperial\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":320,"wires":[["bb763bc2.dd5ae8"]]},{"id":"f73d504b.704e88","type":"function","z":"7bf540f2.7bc558","name":"yesterday's weather","func":"msg.topic = \"yesterday\";\nmsg.url = \"https://api.openweathermap.org/data/2.5/onecall/timemachine\" +\n    \"?lat=\" + msg.latitude +\n    \"&lon=\" + msg.longitude +\n    \"&appid=\" + msg.apikey +\n    \"&dt=\" + Math.floor(Date.now()/1000 - 24*3600) +\n    \"&units=imperial\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":360,"wires":[["bb763bc2.dd5ae8"]]},{"id":"48d693ca.7069cc","type":"debug","z":"7bf540f2.7bc558","name":"Weather data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":380,"wires":[]},{"id":"bb763bc2.dd5ae8","type":"http request","z":"7bf540f2.7bc558","name":"OpenWeatherMap","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":320,"wires":[["c484a8ba.71689"]]},{"id":"c484a8ba.71689","type":"json","z":"7bf540f2.7bc558","name":"","property":"payload","action":"","pretty":false,"x":710,"y":320,"wires":[["6c616d20.ffcbe4"]]},{"id":"781da09f.6bf43","type":"join","z":"7bf540f2.7bc558","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":380,"wires":[["48d693ca.7069cc","7389831c.c278f4"]]},{"id":"6c616d20.ffcbe4","type":"function","z":"7bf540f2.7bc558","name":"Aggregate","func":"if (msg.payload.cod) {\n    node.error(new Error(msg.payload.message));\n    return;\n}\n\nvar p = {\n    meantemp: 0,\n    precip: 0,\n    windmph: 0,\n    maxhumidity: -Infinity,\n    minhumidity: Infinity,\n    uv: 0,\n}\n\n// Compute hourly averages + mins and maxes\nfor (var i = 0; i < 24; i++) {\n    var hour = msg.payload.hourly[i];\n    p.meantemp += hour.temp / 24;\n    p.windmph += hour.wind_speed / 24;\n    if (hour.rain) p.precip += hour.rain['1h'];\n    p.maxhumidity = Math.max(p.maxhumidity, hour.humidity);\n    p.minhumidity = Math.min(p.minhumidity, hour.humidity);\n    p.uv = msg.payload.current.uvi;\n}\n\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":320,"wires":[["781da09f.6bf43"]]},{"id":"7389831c.c278f4","type":"function","z":"7bf540f2.7bc558","name":"compute scale","func":"// https://github.com/rszimm/sprinklers_pi/wiki/Weather-adjustments\n\nvar BASE_HUMID = 30\nvar BASE_TEMP = 70\nvar BASE_PRECIP = 0 // units are mm of rain\n\n// algorithm: +2% for every humidity percent over BASE_HUMID\n//            -2% for every humidity perent below BASE_HUMID\n//            +4% for every degree F above BASE_TEMP\n//            -4% for every degree F below BASE_TEMP\n//            -200% for each inch of rain from today and yesterday over BASE_PRECIP\n//            (note: openweathermap's api doesn't seem to give yesterday's rain)\n//            and +200% for every inch of rain under BASE_PRECIP\n\nvar yesterday = msg.payload.yesterday;\nvar today = msg.payload.today;\n\nvar factors = {\n    humid: BASE_HUMID - (yesterday.maxhumidity - yesterday.minhumidity) / 2,\n    temp: (yesterday.meantemp - BASE_TEMP) * 4,\n    rain: (yesterday.precip + today.precip - BASE_PRECIP)/25.4 * -200,\n}\n\nnode.status({text: 'H:' + factors.humid.toFixed(1) +\n           '  T: ' + factors.temp.toFixed(1) +\n           '  R:' + factors.rain.toFixed(1) })\n\nvar scale = 100 + factors.humid + factors.temp + factors.rain\nif (scale < 0) scale = 0;\nif (scale > 200) scale = 200;\n\nreturn [\n    {topic: 'factors', payload: factors},\n    {topic: 'scale', payload: scale/100}\n];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":700,"y":420,"wires":[["78adb349.aefdb4"],["4c3a4da.460a1b4","78cafd28.fec914"]],"outputLabels":["Scale factors","Rain scale"]},{"id":"4c3a4da.460a1b4","type":"debug","z":"7bf540f2.7bc558","name":"Rain scale","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":910,"y":440,"wires":[]},{"id":"3ed7c724.2c4038","type":"inject","z":"7bf540f2.7bc558","name":"Config - Vegas","props":[{"p":"latitude","v":"36.1252269","vt":"str"},{"p":"longitude","v":"-115.455878","vt":"str"},{"p":"apikey","v":"yourapikey","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":360,"wires":[["4364adc6.882a2c","f73d504b.704e88"]]},{"id":"78adb349.aefdb4","type":"debug","z":"7bf540f2.7bc558","name":"Scale factors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":400,"wires":[]},{"id":"78cafd28.fec914","type":"timerctl out","z":"7bf540f2.7bc558","name":"","program":"4900aef7.1f314","block":false,"pauseCmd":"pause","resumeCmd":"resume","decrementCmd":"decrement","incrementCmd":"increment","adjustCmd":"adjust","skipCmd":"skip","scaleCmd":"scale","x":900,"y":500,"wires":[]},{"id":"4900aef7.1f314","type":"program","z":"","name":"Program A"}]
